/* header */
header {
    padding: 1vh;
    background-color: rgb(30, 48, 60);
    color: rgb(249, 249, 249);
}

header>img {
    max-height: 150px;
}

header>h1 {
    display: inline;
    font-size: xxx-large;
    align-self: center;
}

/* ======================================= */
/* nav */
nav {
    margin-left: 5vw;
    margin-right: 5vw;
    background-color: white;
    margin-top: 1vh;
    margin-bottom: 2vh;
    border-radius: 5px;
}

nav .collapsing,
nav .collapse {
    margin-top: 1vh;
}

nav #homeBtn {
    background-color: rgb(68, 109, 136);
}

nav .nav-link {
    color: rgb(68, 109, 136);
}

nav #searchForm button .spinner-grow {
    justify-self: center;
}

nav #searchForm button {
    display: flex;
    color: #1e303c;
}

/* ======================================= */

/* card container */
#cardContainerRow {
    justify-content: center;
}

.container {
    display: grid;
    /* grid-template-columns: repeat(3,1fr); */
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    gap: 0;
    row-gap: 0;
    column-gap: 0;
    padding: 0;
    box-sizing: border-box;
}

.container>.card {
    margin: 0;
    padding: 0;
}

.card .card-text {
    min-height: 5vh;
}

/* ======================================= */
/* toggle Button */
.form-check-input {
    transform: scale(1.5);
}

/* ======================================= */
/* collapse */
.collapse-container {
    position: relative;
}

.card .collapse,
.card .collapsing {
    position: absolute;
    z-index: 1000;
    background: white;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card .coin-thumbnail {
    max-width: 40px;
    margin-bottom: 10px;
}

.btn-more-info {
    background-color: rgb(68, 109, 136) !important;
    border: rgb(68, 109, 136) 1px solid !important;
}


/* ======================================= */
body {
    background-color: rgb(248, 249, 250) !important;
}

#pageLoadSpinnerDiv>.spinner-grow {
    width: 7rem !important;
    height: 7rem !important;
    position: absolute;
    left: 44%;
    top: 35%;
    background-color: rgb(68, 109, 136);
    justify-self: center;
}

.col-auto .spinner-grow {
    font-size: large;
    background-color: rgb(68, 109, 136);
    width: 5rem !important;
    height: 5rem !important;
}

/* ================================================ */
/* attribution */
#attribution {
    margin-right: 40px;
    margin-top: 10px;
}

/* ================================================ */
/* go to top button */
#goToTop {
    position: fixed;
    top: 95%;
    right: 2%;
}

#goToTop>a>img {
    max-width: 45px;
    border: black solid 1px;
    border-radius: 25px;
    padding: 5px;
}

/* nextPrevDiv */

.nextPrevDiv {
    margin: 15px;
    display: flex;
    justify-content: space-around;
}

.nextPrevDiv>button {
    background-color: #1e303c !important;
    border: #1e303c 1px solid !important;
}

/* Parallax */

.parallax {
    background-image: url(assets/images/wallpaperflare.com_wallpaper.jpg);
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

/* About Page */

#aboutContent {
    margin-top: 75px;
    transform: translateY(20px);
    position: absolute;
    z-index: 1001;
    background-color: rgb(42, 68, 85);
    border-radius: 5px;
    color: rgb(248, 249, 250);
    opacity: 90%;
    /* transition: 0.3s; */

}

#aboutContent p {
    max-width: 700px;
}

#aboutContent button {
    background: 0;
    border: 0;
    border-radius: 25px;
    position: absolute;
    right: 0;
    transition: 0.3s;
}

#aboutContent button:hover {
    background-color: black;
    transition: 0.3s;
}

#aboutContent button img {
    max-width: 25px;
}

#aboutContent>img {
    max-height: 150px;
    border-radius: 5px;
}

/* Graph */

